.completed-scr-status {
  width: fit-content;
  height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.08);
  color: var(--text-content);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;

  &__success {
    background-color: rgba(67, 217, 63, 0.2);
    color: rgba(74, 158, 72, 1);
  }

  &__failed {
    background-color: rgba(255, 79, 79, 0.2);
    color: rgba(255, 79, 79, 1);
  }
}

.dark {
  .completed-scr-status {
    background-color: #252831;

    &__success {
      color: #95FF93;
      background-color: #1e3429;
    }

    &__failed {
      color: #FF8080;
      background-color: #361e26;
    }
  }
}