.front-page-summary {
  position: absolute;
  top: 260px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: var(--main-page-content-width);
  height: 164px;
  border-radius: 8px;
  background: var(--card-fill);
  /* 中等阴影 */
  box-shadow: 0px 0px 25px 0px rgba(15, 27, 45, 0.08);

  &-column {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &-item {
    display: flex;
    flex-direction: row;
    height: 40%;
    align-items: center;

    svg {
      margin-left: 4px;
    }

    &-content {
      margin-left: 16px;
    }

    &-title {
      color: var(--text-title);
      opacity: var(--text-title-opacity);
      /* 数据小标题 */
      font-family: Roboto;
      font-size: 13px;
      font-weight: 400;
      line-height: 13px; /* 100% */
    }

    &-value {
      color: var(--text-content);
      font-family: Poppins;
      font-size: 20px;
      font-weight: 400;
      line-height: 20px; /* 100% */
      margin-top: 9px;
    }

    &-equals-to {
      color: var(--text-title);
      opacity: var(--text-title-opacity);
      /* 数据小标题 */
      font-family: Roboto;
      font-size: 13px;
      font-weight: 400;
      line-height: 13px; /* 100% */
      margin-left: 8px;
    }
  }
}

.SeparatorRoot {
  background-color: var(--separator-bg);
}
.SeparatorRoot[data-orientation='horizontal'] {
  height: 1px;
  width: 100%;
}
.SeparatorRoot[data-orientation='vertical'] {
  height: 75%;
  width: 1px;
}