.main-frontpage {

  .main-frontpage-topper {
    background-color: #212121;
    font-family: Gellix;
    color: #ffffff;
    box-sizing: content-box;
    width: var(--main-page-content-width);
    padding-left: var(--main-page-content-padding);
    padding-right: var(--main-page-content-padding);
    padding-top: 64px;
    padding-bottom: 154px;

    h1 {
      font-size: 32px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 18px;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  .main-frontpage-bg {
    min-height: 60vh;
    height: var(--main-frontpage-bg-height);
    background-color: var(--main-page-bg);
  }
}