.view-all-button {
  text-align: center;
  cursor: pointer;
  background-color: #F8FAFC;
  color: var(--text-clickable);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0 0 7px 7px;
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #E1E5E8;
    color: #111319;
    transition: all 0.3s ease-in-out;
  }

  &:active {
    color: #111319;
    opacity: 0.2;
    background: #E1E5E8;
    transition: all 0.3s ease-in-out;
  }
}

.dark  {
  .view-all-button {
    background-color: rgba(184, 188, 206, 0.05);

    &:hover {
      color: #ffffff;
      background-color: rgba(184, 188, 206, 0.15);
    }

    &:active {
      color: #ffffff;
      opacity: 0.2;
      background-color: rgba(184, 188, 206, 0.05);
    }
  }
}