.link-1104 {
  height: 1em;
  text-decoration: none;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  color: #7998FF;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: #ffffff;
  }

  &:active {
    color: #ffffff;
    opacity: 0.3;
  }
}