.name-display {
  width: 120px;
  height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  background: #f8fafc;
  color: var(--text-content);
  font-weight: 400;
  font-size: 12px;
  font-family: Roboto;
  line-height: 24px;
  border-radius: 4px;
  border: 1px solid #e0e6f0;
  padding-left: 1em;
  padding-right: 1em;
}

.dark {
  .name-display {
    background: #1e2028;
    color: #ffffff;
    border: 1px solid #363a47;
  }

  .TooltipContent {
    background-color: #ffffff;
    color: #282828;
  }

  .TooltipArrow {
    fill: #ffffff;
  }
}


.TooltipContent {
  font-family: Roboto;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  background-color: #383838;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.TooltipContent[data-state='delayed-open'][data-side='top'] {
  animation-name: slideDownAndFade;
}
.TooltipContent[data-state='delayed-open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}
.TooltipContent[data-state='delayed-open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.TooltipContent[data-state='delayed-open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

.TooltipArrow {
  fill: #383838;
}


@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}