.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 28px;
  padding-right: 28px;
  height: 54px;
  background-color: #101010;
  border-bottom: 1px solid #333743;
  position: sticky;
  top: 0;
  z-index: var(--z-index-header);

  &>a {
    margin-right: auto;
  }
}