.theme-switch {
  width: 72px;
  height: 38px;
  background: transparent;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &>svg {
    transition: all 0.3s ease-in-out;
  }
}