.states-table {
  &_header {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid var(--separator-bg);
    padding-left: 1em;
    padding-right: 1em;


    &>p {
      color: var(--text-title);
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    }

    &>p:nth-of-type(1) {
      flex-basis: 33%;
    }

    &>p:nth-of-type(2) {
      flex-basis: 22%;
    }

    &>p:nth-of-type(3) {
      flex-basis: 22%;
    }
  }

  &_row {
    &>a:nth-of-type(1) {
      flex-basis: 33%;
    }
  
    &>a:nth-of-type(2) {
      flex-basis: 22%;
    }
  
    &>p:nth-of-type(1) {
      flex-basis: 22%;
    }
  }
}

.states-table_row__loading {
  &>div:nth-of-type(1) {
    flex-basis: 33%;
  }

  &>div:nth-of-type(2) {
    flex-basis: 22%;
  }

  &>div:nth-of-type(3) {
    flex-basis: 22%;
  }
}