.footer {
  background: #212121;
  height: 120px;
  width: var(--main-page-content-width);
  box-sizing: content-box;
  padding-left: var(--main-page-content-padding);
  padding-right: var(--main-page-content-padding);
  display: flex;
  flex-direction: row;
  align-items: center;

  &-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: auto;
    height: 100%;

    p {
      color: rgba(255, 255, 255, 0.60);
      text-align: right;
      font-family: Roboto;
      font-size: 13px;
    }
  }

  &-links {
    padding-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;

    &>a {
      margin-right: 2em;
    }
  }
}