.page-404 {
  background-color: #101010;
  height: calc(100vh - 174px);
  display: flex;
  justify-content: center;
  align-items: center;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: #FFF;
      font-family: Gellix;
      font-size: 56px;
      font-weight: 500;
      line-height: 56px; /* 100% */
    }

    button {
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.20);
      background: #FFF;
      color: #121621;
      text-align: center;
      font-family: Gellix;
      font-size: 16px;
      font-weight: 600;
      width: 206px;
      height: 44px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      span {
        position: relative;
        bottom: 2px;
      }

      &:hover {
        background-color: #b1b8d0;
      }

      &:active {
        opacity: 0.2;
        background: #B1B8D0;
      }
    }
  }

  &-first {
    color: #FFF;
    font-family: Gellix;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px; /* 100% */
    margin-top: 15px;
    margin-bottom: 28px;
  }

  &-second {
    color: #FFF;
    text-align: center;
    font-family: Gellix;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px; /* 100% */
    margin-bottom: 28px;
  }
}