.front-page-latest {
  width: var(--main-page-content-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 478px;
  left: 50%;
  transform: translateX(-50%);

  &>div {
    width: calc(50% - 10px);
  }

  &-title {
    color: var(--text-content);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px; /* 100% */
    margin-bottom: 21px;
  }

  &-content {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--card-border);
    background: var(--card-fill);
  }

  &-content_header {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid #DEE3E8;

    &>p {
      color: var(--text-title);
      /* 数据小标题 */
      font-family: Roboto;
      font-size: 13px;
      font-weight: 400;
      line-height: 13px; /* 100% */
    }
  }

  &-link {
    color: var(--text-clickable);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; /* 100% */
    text-decoration-line: underline;
  }
}

.front-page-latest-states {
  &-content_header {
    padding-left: 73px;

    &>p:nth-child(1) {
      width: 148px;
    }

    &>p:nth-child(2) {
      width: 214px;
    }
  }

  &-content_body {
    display: flex;
    flex-direction: column;
  }

  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 54px;

    &>svg:nth-child(1) {
      margin-left: 20px;
      margin-right: 28px;
    }

    &>svg:nth-child(3) {
      margin-left: 24px;
      margin-right: 24px;
    }

    &>a {
      width: 148px;

      &+p {
        width: 214px;
      }
    }

    &>p {
      color: var(--text-content);
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px; /* 100% */
    }

  }
}



.front-page-latest-completed-scr {
  &-content_header {
    padding-left: 73px;

    &>p:nth-child(1) {
      width: 145px;
    }

    &>p:nth-child(2) {
      width: 111px;
    }

    &>p:nth-child(3) {
      width: 148px;
    }
  }

  &-content_body {
    display: flex;
    flex-direction: column;
  }

  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 54px;

    &>svg {
      margin-right: 24px;
    }

    &>svg:nth-child(1) {
      margin-left: 20px;
      margin-right: 28px;
    }

    &-hash {
      width: 135px;
    }

    &-status {
      width: 121px;
    }

    &-from {
      width: 148px;
    }

    &-age {
      color: var(--text-content);
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px; /* 100% */
    }
  }
}

.dark {
  .front-page-latest-content_header {
    border-bottom: 1px solid rgba(222, 227, 232, 0.1);
  }
}

@media (max-width: 1200px) {
  .front-page-latest {
    flex-direction: column;

    &>div {
      width: 100%;
    }
  }

  .front-page-latest-completed-scr {
    margin-top: 2rem;
  }
}