.main-completed-scr {

  .main-completed-scr-topper {
    background-color: #212121;
    font-family: Gellix;
    color: #ffffff;
    box-sizing: content-box;
    width: var(--main-page-content-width);
    padding-left: var(--main-page-content-padding);
    padding-right: var(--main-page-content-padding);
    padding-top: 64px;
    padding-bottom: 154px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    h1 {
      font-size: 32px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: left;
      margin-right: 0.5em;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      opacity: 0.6;
    }
  }

  .main-completed-scr-bg {
    background-color: var(--main-page-bg);
    padding-bottom: 5rem;
  }
}