.completed-scr-table {
  width: var(--main-page-content-width);
  margin-top: -100px;
  margin-left: calc(50% - var(--main-page-content-width) / 2);
  box-shadow: 0px 0px 25px 0px rgba(15, 27, 45, 0.08);
  border-radius: 8px;
  border: 1px solid var(--card-border);
  background: var(--card-fill);

  &_header {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid var(--separator-bg);
    padding-left: 1em;
    padding-right: 1em;


    &>p {
      color: var(--text-title);
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    flex-basis: 11%;
    }

    &>p:nth-of-type(3) {
      flex-basis: 8%;
    }

    &>p:nth-of-type(4) {
      flex-basis: 14%;
    }

    &>p:nth-of-type(7) {
      flex-basis: 14%;
    }

    &>p:nth-of-type(8) {
      flex-basis: 9%;
    }

    
  }

  &_row {
    height: 57px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;

    &::after {
      content: "";
      background: var(--separator-bg);
      position: absolute;
      bottom: 0;
      left: 1em;
      width: calc(100% - 2em);
      height: 0.5px;
    }

    &>p {
      color: var(--text-content);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    }

    &>p {
      flex-basis: 11%;
    }
    &>a {
      flex-basis: 11%;
    }
    &>div {
      flex-basis: 11%;
    }

    &>div:nth-last-of-type(1) {
      flex-basis: 14%;
    }
    &>a:nth-last-of-type(1) {
      flex-basis: 9%;
    }
    &>a:nth-last-of-type(2) {
      flex-basis: 8%;
    }
    &>div:nth-of-type(2) {
      flex-basis: 14%;
    }
    
  }

  &_row_from {
    display: inline-flex;
    align-items: center;

    &>svg {
      margin-left: 1.5em;
    }
  }
}

.dark {
  .completed-scr-table_row_from {

    &>svg {

      rect {
        fill: #191919;
      }
      path {
        fill: #ffffff;
        fill-opacity: 0.8;
      }
    }
  }
}

.completed-scr-table_row__loading {
  height: 57px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;

    &::after {
      content: "";
      background: var(--separator-bg);
      position: absolute;
      bottom: 0;
      left: 1em;
      width: calc(100% - 2em);
      height: 0.5px;
    }

    &>div {
      flex-basis: 11%;
    }

  &>div:nth-of-type(3) {
    flex-basis: 8%;
  }
  &>div:nth-of-type(4) {
    flex-basis: 14%;
  }
}

.paginator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
}