@font-face {
  font-family: 'Gellix';
  src: url("./assets/fonts/Gellix-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: 'Gellix';
  src: url("./assets/fonts/Gellix-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: 'Gellix';
  src: url("./assets/fonts/Gellix-SemiBold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: 'Gellix';
  src: url("./assets/fonts/Gellix-Bold.woff2");
  font-weight: 700;
}