:root {
  color-scheme: light dark;

  /* css variables definitions */
  --main-page-bg-light: #F4F6F9;
  --main-page-bg-dark: #17181D;

  /* 卡片-填充 */
  --card-fill-light: #ffffff;
  --card-fill-dark: #101010;

  /* 卡片-描边 */
  --card-border-light: #dee3e8;
  --card-border-dark: #272727;

  /* 文本-小标题 */
  --text-title-light: #000000;
  --text-title-dark: #ffffff;
  --text-title-opacity-light: 0.6;
  --text-title-opacity-dark: 0.7;

  /* 文本-可点击(蓝色) */
  --text-clickable-light: #4e61a1;
  --text-clickable-dark: #7998ff;

  /* 文本-正文 */
  --text-content-light: #282828;
  --text-content-dark: #ffffff;

  /* icon与组件-灰色 */
  --icon-component-gray-light: #8c92aa;
  --icon-component-gray-dark: #b8bcce;

  /* icon与组件-蓝色背景 */
  --icon-component-blue-bg-light: #4e61a1;
  --icon-component-blue-bg-dark: #7998ff;
  --icon-component-blue-bg-opacity-light: 0.1;
  --icon-component-blue-bg-opacity-dark: 0.15;

  /* icon与组件-灰色背景 */
  --icon-component-gray-bg-light: #000000;
  --icon-component-gray-bg-dark: #ffffff;
  --icon-component-gray-bg-opacity-light: 0.08;
  --icon-component-gray-bg-opacity-dark: 0.08;

  /* 分隔符 */
  --separator-bg-light: #E9ECEF;
  --separator-bg-dark: #262626;

  /* 骨架屏 */
  --skeleton-bg-light: #f3f3f3;
  --skeleton-bg-dark: #404040;
  --skeleton-fg-light: #ecebeb;
  --skeleton-fg-dark: #8a8a8a;

  /* 非主题部分 */
  --main-page-content-width: 1200px;
  --main-page-content-padding: calc(50% - 600px);
  --main-frontpage-bg-height: 700px;
  --z-index-header: 20;

  /* --------------- */

  --main-page-bg: var(--main-page-bg-light);
  --card-fill: var(--card-fill-light);
  --card-border: var(--card-border-light);
  --text-title: var(--text-title-light);
  --text-title-opacity: var(--text-title-opacity-light);
  --text-content: var(--text-content-light);
  --text-clickable: var(--text-clickable-light);
  --icon-component-gray: var(--icon-component-gray-light);
  --icon-component-blue-bg: var(--icon-component-blue-bg-light);
  --icon-component-blue-bg-opacity: var(--icon-component-blue-bg-opacity-light);
  --icon-component-gray-bg: var(--icon-component-gray-bg-light);
  --icon-component-gray-bg-opacity: var(--icon-component-gray-bg-opacity-light);
  --separator-bg: var(--separator-bg-light);
  --skeleton-bg: var(--skeleton-bg-light);
  --skeleton-fg: var(--skeleton-fg-light);
}

.dark {
  color-scheme: dark light;
  --main-page-bg: var(--main-page-bg-dark);
  --card-fill: var(--card-fill-dark);
  --card-border: var(--card-border-dark);
  --text-title: var(--text-title-dark);
  --text-title-opacity: var(--text-title-opacity-dark);
  --text-content: var(--text-content-dark);
  --text-clickable: var(--text-clickable-dark);
  --icon-component-gray: var(--icon-component-gray-dark);
  --icon-component-blue-bg: var(--icon-component-blue-bg-dark);
  --icon-component-blue-bg-opacity: var(--icon-component-blue-bg-opacity-dark);
  --icon-component-gray-bg: var(--icon-component-gray-bg-dark);
  --icon-component-gray-bg-opacity: var(--icon-component-gray-bg-opacity-dark);
  --separator-bg: var(--separator-bg-dark);
  --skeleton-bg: var(--skeleton-bg-dark);
  --skeleton-fg: var(--skeleton-fg-dark);
}

body {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

@media (max-width: 1200px) {
  :root {
    --main-page-content-width: 62.5%;
    --main-page-content-padding: 18.75%;
    --main-frontpage-bg-height: 1100px;
  }
}