.paginator {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 180px;
  height: 28px;

  &>p {
    color: var(--text-content);
    font-size: 13px;
    font-family: Roboto;
    font-weight: 400;
    padding-left: 0.8em;
    padding-right: 0.8em;
  }

  &-button {
    border: none;
    border-radius: 4px;
    height: 100%;
    width: 28px;
    background: inherit;
    position: relative;
    cursor: pointer;

    &:hover {
      background: var(--main-page-bg);
    }

    &:active {
      opacity: 0.5;
    }

    

    &>svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &[disabled] {
      cursor: default;
      background: inherit;
      opacity: 0.6;

      &>svg>path {
        stroke: #000000;
      }
    }
  }
}

.dark {
  .paginator {
    &-button {

      &:hover>svg>path {
        stroke: #ffffff;
      }

      &[disabled] {

        &>svg>path {
          stroke: #ffffff;
          stroke-opacity: 0.7;
        }
      }
    }
  }
}